/** Uma regra CSS tem a sintaxe geral

seletor{
    propriedade: valor;
    }
    
    tipos existentes:
    - seletor universal: seleciona todos os elementos (ex: *)

    - seletor por tipo: seleciona todos os elementos de um determinado tipo (ex: p, h1, div)

    -seletor por id: seleciona um elemento de determinado id (ex: #meu-id)

    - seletor por classe: seleciona todos os elementos com uma determinada classe (ex: .minha-classe)  class="titulo" .titulo  

    - seletor por atributo: seleciona elementos com um determinado atributo (ex: [type])
    
    
    
    **/
p{
    background-color: rgb(236, 235, 235);
}

#titulo{
    background-color: bisque;
}

.vermelho{
    color: rgb(180, 30, 30);
}

dd{
    color: blue;
}

*{
    border: 1px solid beige;
}

[for="nome"],[type="submit"]{
    color:magenta
}